.nav-bar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-cnt {
        cursor: pointer;
    }
    img {
        display: flex;
        max-width: 100px;
        height: auto;
        margin-left: 40px;
    }

    .hamburger-l {
        font-size: 40px;
        margin-right: 15px;
        color: #333;
    }
}

ul {
    display: flex;

    a {
        text-decoration: none;
        font-family: "Nunito", sans-serif;
        color: white;
        transition: color 0.4s;
        display: flex;
        li {
            display: flex;
            align-items: center;
            list-style-type: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            margin-right: 40px;
            font-size: 20px;
            background: rgb(19, 56, 233);
            background: linear-gradient(90deg, rgba(19, 56, 233, 0.8407738095238095) 0%, rgb(6, 167, 153) 100%);
            font-family: "Nunito", sans-serif;
            font-weight: 300;
            cursor: pointer;
            .logo-brg {
                margin-right: 10px;
                font-size: 25px;
            }
            .logoout-brg {
                margin-right: 10px;
                font-size: 25px;

                transform: rotate(180deg);
            }
        }
    }
}
