.in-cnt-f {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    // margin-top: 250px;
    width: 100%;
    input {
        height: 45px;
        width: calc(100% - 50px);
        border-radius: 5px;
        border: 1px solid rgba(19, 56, 233, 0.8407738095238095);
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        margin: 0 auto 20px;
        transition: all 0.3s ease;
        font-family: "Nunito", sans-serif;
    }

    button {
        height: 45px;
        margin-bottom: 25px;
        font-family: "Nunito", sans-serif;
        font-size: 19px;
        width: calc(100% - 50px);
        color: white;
        background: rgb(19, 56, 233);
        background: linear-gradient(90deg, rgba(19, 56, 233, 0.8407738095238095) 0%, rgba(0, 255, 235, 1) 100%);

        border-radius: 5px;
        padding: 0 15px;
        transition: all 0.4s;
        border: none;
    }
}
$desktop: 880px;
@media (min-width: $desktop) {
    .in-cnt-f {
        max-width: 1370px;
        margin: 0 auto;
        padding: 0 50px;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        input {
            width: 70%;
            margin: 0;
        }
        button {
            cursor: pointer;
            margin: 0;
            width: 20%;
        }
    }
}

.short-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    h2 {
        padding: 25px 15px;
        font-family: "Nunito", sans-serif;
        font-size: 28px;
        color: #333;
    }
}
@media (max-height: 700px) {
    .short-cnt {
        margin-top: 100px;
    }
}
@media (max-height: 480px) {
    .short-cnt {
        margin-top: 50px;
    }
}
